#content {
    margin: 80px 0;
    position: relative;
}

#content .login {
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 4px 3px #ccc;
}

#content .login h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

#content .login .holder {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#content .login .holder label {
    font-size: 18px;
    margin-bottom: 12px;
}

#content .login .holder input {
    height: 40px;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#content .login button {
    background-color: #7fad39;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

#content .login button:hover {
    opacity: 0.8;
    box-shadow: 0 0 4px 3px #ccc ;
}

#content .login .more {
    display: flex;
    justify-content: space-between;
}

#content .login a {
    color: #1c1c1c;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}


/*.popup {*/
/*    position: absolute;*/
/*    top: -80px;*/
/*    right: 80px;*/
/*    width: 400px;*/
/*    height: 60px;*/
/*    padding: 10px;*/
/*    border: 2px solid #c0a7a5;*/
/*    border-radius: 4px;*/
/*}*/

/*.success {*/
/*    background: #d5e9ce;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.error {*/
/*    background: #e2c0bc;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.alert {*/
/*    background: #eee9ce;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.popup .icon {*/
/*    font-size: 20px;*/
/*    margin-right: 20px;*/
/*}*/

/*.success .icon {*/
/*    color: #52664a;*/
/*}*/
/*.error .icon {*/
/*    color: #ab2f30;*/
/*}*/

/*.alert .icon {*/
/*    color: #87722e;*/
/*}*/

/*.popup p {*/
/*    font-size: 16px;*/
/*    white-space: nowrap;*/
/*}*/

/*.success p {*/
/*    color: #607458;*/
/*}*/
/*.error p {*/
/*    color: #9b3a3d;*/
/*}*/
/*.alert p {*/
/*    color: #7f7454;*/
/*}*/

/*.none {*/
/*    display: none;*/
/*}*/

/*.popup .del {*/
/*    font-size: 20px;*/
/*    margin-left: 50px;*/
/*    cursor: pointer;*/
/*}*/

/*.success .del {*/
/*    color: #a6b99e;*/
/*}*/
/*.error .del {*/
/*    color: #be9390;*/
/*}*/
/*.alert .del {*/
/*    color: #d0cb9e;*/
/*}*/


/*.fadeOut {*/
/*    animation: fade-out 0.25s ease-in forwards;*/
/*}*/


/*@keyframes fade-out {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/
/*    100%{*/
/*        opacity: 0;*/
/*    }*/
/*}*/


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 450px;
    height: 300px;
    padding: 20px;
    background: #fff;
    position: relative;
}

.modal-container .del {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
}

.modal-container h3 {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-container form {
    text-align: center;
}

.modal-container form label {
    font-size: 16px;
}

.modal-container form input[type=email] {
    display: block;
    caret-color: #9861c2;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 18px;
    height: 40px;
    padding: 6px;
    margin: 40px 0;
    font-weight: 300;
    outline: none;
}

.modal-container form input[type=submit] {
    background: #00e181;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.25s ease-in;
}

.modal-container form input[type=submit]:hover {
    opacity: 0.8;
}